.content-3
{
    padding-top: 35px;
}
.content-4
{
    padding-top: 5px;
}

.content-5
{
    padding-top: 35px;
}

.container-fluid
{
    border-radius: 15px;
}

.head
{
    background-color: rgba(128, 128, 128, 0.295);
    margin-bottom: 20px;
}
.info i
{
    color: rgb(98, 221, 221);
}
.info h6
{
    color: rgb(67, 67, 187);
}
.details label
{
    color: rgb(67, 67, 187);
}
.content-4 label
{
    color: rgb(67, 67, 187);
}

.content-5 label
{
    color: rgb(67, 67, 187);
}
.search button
{
    background-color:rgb(98, 221, 221);
    color: #fff;
} 
.classifiction
{
    color: rgb(67, 67, 187);
}
.content-3 label
{
    color: rgb(67, 67, 187);
}