
.product-img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.breadcrumb
{
    background-color: rgb(30, 67, 189);
}
.breadcrumb i
{
    color: #fff;
}
.breadcrumb a
{
    color: #fff;
}
