

.user-img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.dropdown 
{
    background-color: transparent;
}

.icon
{
    color: rgb(67, 67, 187);
}

.collapse input
{
    height: 25px;
}
.collapse span ::placeholder
{
   font-size: 13px;
}
.navbar h5
{
    color: rgb(98, 221, 221);
}
.care
{
    color: rgb(67, 67, 187);
}
.dropdown a
{
    color: rgb(67, 67, 187);
}
.nav-item  span
{
    color: rgb(67, 67, 187);
}